<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BRÜ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
    <nav class='navbar is-danger' role='navigation' aria-label='main navigation'>
        <div class='navbar-brand'>
            <a class='navbar-item' href='#'>
                <i class="fas fa-beer"></i>
            </a>
            <a class='navbar-item'>
                BRÜ
            </a>

            <a role='button' class='navbar-burger' aria-label="menu" aria-expanded='false'>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class='navbar-menu'>
            <div class='navbar-end'>
                <a class='navbar-item'>Grains</a>
                <a class='navbar-item'>Hops</a>
                <a class='navbar-item'>Malts</a>
                <a class='navbar-item'>Yeast</a>
                <a class='navbar-item'>Create a Recipe</a>
            </div>
        </div>
    </nav>

    {{{body}}}
    <script>
        $(document).ready(() => {
            $('.navbar-burger').click(() => {
                $('.navbar-burger').toggleClass('is-active');
                $('.navbar-menu').toggleClass('is-active');
            });
        });
    </script>
</body>


</html>